.center {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  a {
      background: #0b868f;
      padding: 10px;
      border-radius: 10px;
      color: white;
  }
}
